<html>
<head>
	<link rel="stylesheet" href="css/onsenui.css">
    <link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/onsen-css-components.min.css">
    <script src="js/onsenui.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/index.js"></script>
<!-- order of script src matters. -->
</head>
<body>
<div id='maincontent'></div>
    
    
                            <!--    <h1>Static content:</h1>
                                <h4>button:</h4>
                                <ons-button>Basic Onsen Button</ons-button>
                                <h4>Username input</h4>
                                <ons-input id="username" modifier="underbar" placeholder="Username" float></ons-input>
                            <h4>label:</h4>
                                  <input type="text" class="text-input" ng-model="text" placeholder="text inputs/areas don't have custom onsen ui elements. use predefined class to display in onsen ui style." style="display: block; width: 100%">

                                  <textarea class="textarea" ng-model="text2" placeholder="placeholder text" style="width: 100%; height: 100px;"></textarea> -->
                                <!-- alert(document.getElementById("my-input").value);
                            alert($("#my-input").val());
                            to get input value. -->

                            <!--    <h1>Dynamic content</h1>
                                <h2>button</h2>
                                <div id="button"></div> -->

</body>
</html>
